.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
}

.poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
}

.poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.poppins-thin-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
}

.poppins-extralight-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;
}

.poppins-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.poppins-medium-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.poppins-semibold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
}

.poppins-bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.poppins-extrabold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
}

.poppins-black-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
}

header ol {
    list-style-type: none;
    padding: 0;
}

header>ol {
    margin: 0;
}

header ol>li>ol {
    margin-left: 10px;
}

div#content {
    display: flex;
    height: 100%;
}


header {
    position: sticky;
    top: 0;
    flex-grow: 0;
    flex-shrink: 0;
    bottom: 0;
    height: 100%;
    max-width: 100%;
    flex-basis: 300px;
    background-color: var(--background-color);
    padding: 20px;
    margin: 0;
    box-sizing: border-box;
    overflow-y: auto;
}

main {
    flex-grow: 1;
    flex-shrink: 1;
    padding: 20px;
    top: 0;
    bottom: 0;
    height: 100%;
    overflow-y: auto;
    box-sizing: border-box;
}

body {
    font-family: "Poppins";
    margin: 0;
    color: var(--text-normal);
    background-color: var(--background-color);
    height: 100vh
}

a {
    color: hsl(var(--accent-minus-60), 50%, 50%);
}

header a {
    color: var(--text-muted);

}

header li {
    color: var(--text-faint);
}

h1:first-child {
    position: sticky;
    top: 0;
    background-color: hsl(var(--accent-h), var(--bg-s), var(--bg-l-alt));
}

img {
    max-width: min(800px, 100%);
    max-height: 100vh;
    object-fit: scale-down;
}

* {
    --accent-h: 258;
    --accent-plus-60: calc(var(--accent-h) + 60);
    --accent-plus-120: calc(var(--accent-h) + 120);
    --accent-minus-60: calc(var(--accent-h) - 60);
    --accent-minus-120: calc(var(--accent-h) - 120);
    --accent-s-pastel: min(var(--accent-s), 50%);

    --bg-s: 35%;
    --bg-l-alt: 70%;
    --background-color: hsl(var(--accent-h), var(--bg-s), var(--bg-l));
}

.theme-dark header,
.theme-dark header * {
    --bg-l: 30%;
    --bg-l-alt: 32%;
}

body.theme-dark {
    --bg-l: 25%;
    --bg-l-alt: 27%;
    --text-normal: hsl(0, 0%, 85%);
    --text-muted: hsl(var(--accent-h), 15%, 68%);
    --text-faint: hsl(var(--accent-h), 20%, 51%);
}


.theme-light header,
.theme-light header * {
    --bg-l: 65%;
    --bg-l-alt: 60%;
}

body.theme-light {
    --bg-l: 75%;
    --bg-l-alt: 70%;
    --text-normal: hsl(0, 0%, 13%);
    --text-muted: hsl(var(--accent-h), 15%, 33%);
    --text-faint: hsl(var(--accent-h), 20%, 47%);
}

code {
    display: inline-block;
    font-size: 1rem;
    border-radius: 20px;
    padding: 4px 6px;
    overflow: visible;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    background-color: hsl(var(--accent-h), 35%, var(--bg-l-alt));
}