.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
}

.poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
}

.poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.poppins-thin-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
}

.poppins-extralight-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;
}

.poppins-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.poppins-medium-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.poppins-semibold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
}

.poppins-bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.poppins-extrabold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
}

.poppins-black-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
}

header ol {
    list-style-type: none;
    padding: 0;
}

header>ol {
    margin: 0;
}

header ol>li>ol {
    margin-left: 10px;
}

div#content {
    display: flex;
    height: 100%;
}


header {
    position: sticky;
    top: 0;
    flex-grow: 0;
    flex-shrink: 0;
    bottom: 0;
    height: 100%;
    max-width: 100%;
    flex-basis: 300px;
    background-color: var(--background-color);
    padding: 20px;
    margin: 0;
    box-sizing: border-box;
    overflow-y: auto;
}

main {
    flex-grow: 1;
    flex-shrink: 1;
    padding: 20px;
    top: 0;
    bottom: 0;
    height: 100%;
    overflow-y: auto;
    box-sizing: border-box;
}

body {
    font-family: "Poppins";
    margin: 0;
    color: white;
    background-color: var(--background-color);
    height: 100vh
}

a {
    color: #6d9fb2;
}

h1:first-child {
    position: sticky;
    top: 0;
    background-color: hsl(var(--bg-h), calc(var(--bg-s) + 3%), calc(var(--bg-l) - 5%));
}

img {
    max-width: min(800px, 100%);
    max-height: 100vh;
    object-fit: scale-down;
}

* {
    --bg-h: 258;
    --bg-s: 35%;
    --background-color: hsl(var(--bg-h), var(--bg-s), var(--bg-l));
}

.theme-dark header {
    --bg-l: 30%;
}


body.theme-dark {
    --bg-l: 25%;
}

.theme-light header {
    --bg-l: 65%;
}

body.theme-light {
    --bg-l: 75%;
}