/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/
.setting-error {
    color: var(--text-error);
}

.text-accent {
    color: var(--text-accent)
}

.calendar-container {
    width: 500px;
    max-width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    /* padding-left: min(50px, 5%);
    padding-right: min(50px, 5%); */
    /* background-color: var(--background-secondary); */
}
span.calendar-dot {
    padding: 0;
    letter-spacing: 0.2em;
}

div.dot-container {
    max-width: 50%;
    max-height: calc(100% + 1.1em);
    word-wrap: break-word;
    white-space: pre-wrap;
    padding-top: 0;
    padding-bottom: 0;
    /* margin-top: 0;
    margin-bottom: 0; */
    line-height: 0.5em;
    display: block;
    overflow-y: clip;
}
/* Calendar classes */
.react-calendar {
    width: 350px;
    max-width: 100%;
    background: none;
        /* background-color: var(--background-primary); */
        /* border: 1px solid #a0a096; */
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.125em;
    margin-left: auto;
        margin-right: auto;
}

.react-calendar--doubleView {
    width: 700px;
}

.react-calendar--doubleView .react-calendar__viewContainer {
    display: flex;
    margin: -0.5em;
    white-space: nowrap;
}

.react-calendar--doubleView .react-calendar__viewContainer>* {
    width: 50%;
    margin: 0.5em;
}

.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.react-calendar button {
    /* margin: 0.1rem 0.2rem; */
        /* border: none; */
        border: 0.1em solid var(--background-primary);
        border-radius: 0;
        box-shadow: none;
        /* width: calc(100% - 0.1rem); */
            /* width: 14.2857142857%; */
            /* width: 100%; */
            /* display: flex; */
            height: 2.5rem;
}

.react-calendar button:enabled:hover {
    cursor: pointer;
}

.react-calendar__navigation {
    display: flex;
    height: 44px;
    margin-bottom: 1em;
}

.react-calendar__navigation button {
    min-width: 44px;
        background-color: var(--interactive-normal);
        /* margin: 0.05rem 0.1rem; */
}

.react-calendar__navigation button:disabled {
    background-color: var(--background-primary-alt);
        /* Test to make sure this is good */
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
    background-color: var(--interactive-hover);
}

/* .react-calendar__month-view--weekNumbers */
.react-calendar__month-view__weekdays {
    text-align: center;
    text-transform: uppercase;
    font: inherit;
    font-size: 0.75em;
    font-weight: bold;
}

/* The weekday text */
.react-calendar__month-view__weekdays__weekday {
    padding: 0.5em;
    display: flex;
        justify-content: center;
        /* text-decoration: none; */
}

/* not sure whether this is working */
.react-calendar__month-view__weekNumbers .react-calendar__tile {
    /* .react-calendar__month-view--weekNumbers button.react-calendar__tile { */
    display: flex;
        /* width: 100%; */
    align-items: center;
    justify-content: center;
    font: inherit;
    font-size: 0.75em;
    font-weight: bold;
}

/* .react-calendar__month-view__days button {
    display: flex;
} */
.react-calendar__month-view__days__day--weekend {
    color: var(--text-muted);
}

.react-calendar__month-view__days__day--neighboringMonth,
.react-calendar__decade-view__years__year--neighboringDecade,
.react-calendar__century-view__decades__decade--neighboringCentury {
    color: var(--text-faint);
}

.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
    padding: 2em 0.5em;
}

button.react-calendar__tile,
.react-calendar__tile {
    max-width: 100%;
    padding: 10px 6.6667px;
    /* background: none; */
    background-color: var(--interactive-normal);
    text-align: center;
    line-height: 16px;
    font: inherit;
    font-size: 0.833em;
}

button.react-calendar__tile:disabled {
    background-color: var(--background-primary-alt);
        color: var(--text-faint);
}

.react-calendar__month-view__days__day--neighboringMonth:disabled,
.react-calendar__decade-view__years__year--neighboringDecade:disabled,
.react-calendar__century-view__decades__decade--neighboringCentury:disabled {
    color: var(--text-faint);
}

button.react-calendar__tile:enabled:hover,
button.react-calendar__tile:enabled:focus {
    background-color: var(--interactive-hover);
}

button.filled-date {
    /* background-color: hsl(var(--accent-h), max(calc(var(--accent-s) - 10%), 10%), min(calc(var(--accent-l) + 5%), 90%)); */
    /* background-color: hsl(var(--accent-h), max(calc(var(--accent-s) - 25%), 10%), max(calc(var(--accent-l) - 5%), 10%)); */
    background-color: hsl(var(--accent-h), var(--accent-s), max(var(--accent-l) - 6%, 10%));
    /* background-color: var(--interactive-accent); */
    color: var(--text-on-accent);
}

button.filled-date:enabled:hover,
button.filled-date:enabled:focus {
    background-color: var(--interactive-accent-hover);
    color: var(--text-on-accent);
}

button.filled-date>* {
    margin-left: auto;
    margin-right: auto;
}

/* Now is today */
button.react-calendar__tile--now,
.react-calendar__tile--now {
    /* background-color: var(--interactive-accent); */
    /* background-color: hsl(var(--accent-h), max(calc(var(--accent-s) - 10%), 10%), min(calc(var(--accent-l) + 5%), 90%)); */
    background-color: hsl(var(--accent-h), var(--accent-s), min(var(--accent-l) + 6%, 90%));
    /* background-color: black; */
    color: var(--text-on-accent);
}

button.react-calendar__tile--now:enabled:hover,
button.react-calendar__tile--now:enabled:focus {
    background-color: var(--interactive-accent-hover);
}

button.react-calendar__tile--hasActive {
    background-color: var(--interactive-accent);
        /* background-color: black; */
}

button.react-calendar__tile--hasActive:enabled:hover,
button.react-calendar__tile--hasActive:enabled:focus {
    background-color: var(--interactive-accent-hover);
}

/* Active is the one that's selected */
button.react-calendar__tile--active,
button.react-calendar__tile--active:enabled:hover,
button.react-calendar__tile--active:enabled:focus {
    /* background-color: var(--interactive-accent); */
    background-color: hsl(calc(var(--accent-h) + 120), var(--accent-s), max(var(--accent-l) - 5%, 10%));
        color: var(--text-on-accent);
}

/* button.react-calendar__tile--active:enabled:hover,
button.react-calendar__tile--active:enabled:focus {
    background-color: hsl(calc(var(--accent-h) + 120), var(--accent-s), min(var(--accent-l) + 5%, 90%));
        color: var(--text-on-accent-inverted);
    }
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                */

.react-calendar--selectRange button.react-calendar__tile--hover {
    background-color: var(--interactive-hover);
}