<div>
    <h1>Table of Contents</h1>
    <div class="block-language-dataviewjs node-insert-event" style="overflow-x: auto;"><span><span>
                <ol>
                    <li dir="auto"><a title="https://erallie.github.io/diarian/index.html#about-diarian"
                            href="https://erallie.github.io/diarian/index.html#about-diarian" target="_blank"
                            rel="noopener">About Diarian</a>
                        <ol>
                            <li dir="auto"><a title="https://erallie.github.io/diarian/index.html#features"
                                    href="https://erallie.github.io/diarian/index.html#features" target="_blank"
                                    rel="noopener">Features</a>
                                <ol>
                                    <li dir="auto"><a
                                            title="https://erallie.github.io/diarian/index.html#included-features"
                                            href="https://erallie.github.io/diarian/index.html#included-features"
                                            target="_blank" rel="noopener">Included features</a></li>
                                    <li dir="auto"><a
                                            title="https://erallie.github.io/diarian/index.html#excluded-features"
                                            href="https://erallie.github.io/diarian/index.html#excluded-features"
                                            target="_blank" rel="noopener">Excluded features</a></li>
                                </ol>
                            </li>
                        </ol>
                    </li>
                    <li dir="auto"><a title="https://erallie.github.io/diarian/Credits.html#credits"
                            href="https://erallie.github.io/diarian/Credits.html#credits" target="_blank"
                            rel="noopener">Credits</a></li>
                    <li dir="auto"><a title="https://erallie.github.io/diarian/Installation.html#installation"
                            href="https://erallie.github.io/diarian/Installation.html#installation" target="_blank"
                            rel="noopener">Installation</a>
                        <ol>
                            <li dir="auto"><a title="https://erallie.github.io/diarian/Installation.html#use-brat"
                                    href="https://erallie.github.io/diarian/Installation.html#use-brat" target="_blank"
                                    rel="noopener">Use BRAT</a></li>
                            <li dir="auto"><a
                                    title="https://erallie.github.io/diarian/Installation.html#manual-installation"
                                    href="https://erallie.github.io/diarian/Installation.html#manual-installation"
                                    target="_blank" rel="noopener">Manual installation</a></li>
                        </ol>
                    </li>
                    <li dir="auto">Instructions<ol>
                            <li dir="auto"><a
                                    title="https://erallie.github.io/diarian/Instructions/Calendar.html#calendar"
                                    href="https://erallie.github.io/diarian/Instructions/Calendar.html#calendar"
                                    target="_blank" rel="noopener">Calendar</a>
                                <ol>
                                    <li dir="auto"><a
                                            title="https://erallie.github.io/diarian/Instructions/Calendar.html#editor-navigation"
                                            href="https://erallie.github.io/diarian/Instructions/Calendar.html#editor-navigation"
                                            target="_blank" rel="noopener">Editor navigation</a></li>
                                </ol>
                            </li>
                            <li dir="auto"><a
                                    title="https://erallie.github.io/diarian/Instructions/On%20this%20day.html#on-this-day"
                                    href="https://erallie.github.io/diarian/Instructions/On%20this%20day.html#on-this-day"
                                    target="_blank" rel="noopener">On this day</a>
                                <ol>
                                    <li dir="auto"><a
                                            title="https://erallie.github.io/diarian/Instructions/On%20this%20day.html#notifications"
                                            href="https://erallie.github.io/diarian/Instructions/On%20this%20day.html#notifications"
                                            target="_blank" rel="noopener">Notifications</a>
                                        <ol>
                                            <li dir="auto"><a
                                                    title="https://erallie.github.io/diarian/Instructions/On%20this%20day.html#pop-up-modals"
                                                    href="https://erallie.github.io/diarian/Instructions/On%20this%20day.html#pop-up-modals"
                                                    target="_blank" rel="noopener">Pop-up modals</a></li>
                                            <li dir="auto"><a
                                                    title="https://erallie.github.io/diarian/Instructions/On%20this%20day.html#notices"
                                                    href="https://erallie.github.io/diarian/Instructions/On%20this%20day.html#notices"
                                                    target="_blank" rel="noopener">Notices</a></li>
                                        </ol>
                                    </li>
                                </ol>
                            </li>
                            <li dir="auto"><a
                                    title="https://erallie.github.io/diarian/Instructions/Importer.html#importer"
                                    href="https://erallie.github.io/diarian/Instructions/Importer.html#importer"
                                    target="_blank" rel="noopener">Importer</a>
                                <ol>
                                    <li dir="auto"><a
                                            title="https://erallie.github.io/diarian/Instructions/Importer.html#importer-notes"
                                            href="https://erallie.github.io/diarian/Instructions/Importer.html#importer-notes"
                                            target="_blank" rel="noopener">Importer notes</a></li>
                                </ol>
                            </li>
                            <li dir="auto"><a title="https://erallie.github.io/diarian/Instructions/Rating.html#rating"
                                    href="https://erallie.github.io/diarian/Instructions/Rating.html#rating"
                                    target="_blank" rel="noopener">Rating</a>
                                <ol>
                                    <li dir="auto"><a
                                            title="https://erallie.github.io/diarian/Instructions/Rating.html#customization"
                                            href="https://erallie.github.io/diarian/Instructions/Rating.html#customization"
                                            target="_blank" rel="noopener">Customization</a></li>
                                </ol>
                            </li>
                            <li dir="auto"><a
                                    title="https://erallie.github.io/diarian/Instructions/Timestamp.html#timestamp"
                                    href="https://erallie.github.io/diarian/Instructions/Timestamp.html#timestamp"
                                    target="_blank" rel="noopener">Timestamp</a></li>
                            <li dir="auto"><a
                                    title="https://erallie.github.io/diarian/Instructions/Multiple%20or%20nested%20daily%20notes.html#multiple-or-nested-daily-notes"
                                    href="https://erallie.github.io/diarian/Instructions/Multiple%20or%20nested%20daily%20notes.html#multiple-or-nested-daily-notes"
                                    target="_blank" rel="noopener">Multiple or nested daily notes</a></li>
                        </ol>
                    </li>
                </ol>
            </span></span></div>
</div>