<li dir="auto">
    <a href="https://erallie.github.io/diarian/index.html" target="_self" rel="noopener">
        About Diarian
    </a>
    <ol>
        <li dir="auto">
            <a title="https://erallie.github.io/diarian/index.html#features"
                href="https://erallie.github.io/diarian/index.html#features" target="_self" rel="noopener">
                Features
            </a>
            <ol>
                <li dir="auto">
                    <a title="https://erallie.github.io/diarian/index.html#included-features"
                        href="https://erallie.github.io/diarian/index.html#included-features" target="_self"
                        rel="noopener">
                        Included features
                    </a>
                </li>
                <li dir="auto">
                    <a title="https://erallie.github.io/diarian/index.html#excluded-features"
                        href="https://erallie.github.io/diarian/index.html#excluded-features" target="_self"
                        rel="noopener">
                        Excluded features
                    </a>
                </li>
            </ol>
        </li>
    </ol>
</li>
<li dir="auto">
    <a href="https://erallie.github.io/diarian/Installation.html" target="_self" rel="noopener">
        Installation
    </a>
    <ol>
        <li dir="auto">
            <a title="https://erallie.github.io/diarian/Installation.html#use-brat"
                href="https://erallie.github.io/diarian/Installation.html#use-brat" target="_self" rel="noopener">
                Use BRAT
            </a>
        </li>
        <li dir="auto">
            <a title="https://erallie.github.io/diarian/Installation.html#manual-installation"
                href="https://erallie.github.io/diarian/Installation.html#manual-installation" target="_self"
                rel="noopener">
                Manual installation
            </a>
        </li>
    </ol>
</li>
<li dir="auto">
    <a href="https://erallie.github.io/diarian/Credits.html" target="_self" rel="noopener">
        Credits
    </a>
</li>
<li dir="auto">
    Instructions
    <ol>
        <li dir="auto">
            <a href="https://erallie.github.io/diarian/Instructions/Calendar.html" target="_self" rel="noopener">
                Calendar
            </a>
            <ol>
                <li dir="auto">
                    <a title="https://erallie.github.io/diarian/Instructions/Calendar.html#editor-navigation"
                        href="https://erallie.github.io/diarian/Instructions/Calendar.html#editor-navigation"
                        target="_self" rel="noopener">
                        Editor navigation
                    </a>
                </li>
            </ol>
        </li>
        <li dir="auto">
            <a href="https://erallie.github.io/diarian/Instructions/On%20this%20day.html" target="_self" rel="noopener">
                On this day
            </a>
            <ol>
                <li dir="auto">
                    <a title="https://erallie.github.io/diarian/Instructions/On%20this%20day.html#notifications"
                        href="https://erallie.github.io/diarian/Instructions/On%20this%20day.html#notifications"
                        target="_self" rel="noopener">
                        Notifications
                    </a>
                    <ol>
                        <li dir="auto">
                            <a title="https://erallie.github.io/diarian/Instructions/On%20this%20day.html#pop-up-modals"
                                href="https://erallie.github.io/diarian/Instructions/On%20this%20day.html#pop-up-modals"
                                target="_self" rel="noopener">
                                Pop-up modals
                            </a>
                        </li>
                        <li dir="auto">
                            <a title="https://erallie.github.io/diarian/Instructions/On%20this%20day.html#notices"
                                href="https://erallie.github.io/diarian/Instructions/On%20this%20day.html#notices"
                                target="_self" rel="noopener">
                                Notices
                            </a>
                        </li>
                    </ol>
                </li>
            </ol>
        </li>
        <li dir="auto">
            <a href="https://erallie.github.io/diarian/Instructions/Importer.html" target="_self" rel="noopener">
                Importer
            </a>
            <ol>
                <li dir="auto">
                    <a title="https://erallie.github.io/diarian/Instructions/Importer.html#importer-notes"
                        href="https://erallie.github.io/diarian/Instructions/Importer.html#importer-notes"
                        target="_self" rel="noopener">
                        Importer notes
                    </a>
                </li>
            </ol>
        </li>
        <li dir="auto">
            <a href="https://erallie.github.io/diarian/Instructions/Rating.html" target="_self" rel="noopener">
                Rating
            </a>
            <ol>
                <li dir="auto">
                    <a title="https://erallie.github.io/diarian/Instructions/Rating.html#customization"
                        href="https://erallie.github.io/diarian/Instructions/Rating.html#customization" target="_self"
                        rel="noopener">
                        Customization
                    </a>
                </li>
            </ol>
        </li>
        <li dir="auto">
            <a href="https://erallie.github.io/diarian/Instructions/Timestamp.html" target="_self" rel="noopener">
                Timestamp
            </a>
        </li>
        <li dir="auto">
            <a href="https://erallie.github.io/diarian/Instructions/Multiple%20or%20nested%20daily%20notes.html"
                target="_self" rel="noopener">
                Multiple or nested daily notes
            </a>
        </li>
    </ol>
</li>